body{
    background-color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: white;
    align-self: center;
}
.triangle{
    align-self: center;
    height: 0;
    width: 0;
    border-right: solid 200px transparent;
    border-left: solid 200px transparent;
}

#iAngle{
    border-top:solid 200px white;
}
#Angle{
    border-bottom:solid 200px white;
}